* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{

}

.header__block{

}

.header__block--up{

}

.header_content{

}

.header__date{

}

.header__address{

}

.header__block--down{

}







