<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="d-inline ">
      <app-dado [valor]="valor1"></app-dado>
      <app-dado [valor]="valor2"></app-dado>
      <app-dado [valor]="valor3"></app-dado>
    </div>
    <p>{{resultado}}</p>
    <hr>
    <button class="btn btn-primary" (click)="lanzarDados()">Lanzar</button>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Victorias</th>
          <th>Intentos</th>
          <th>Media</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ contadorVictorias }}</td>
          <td>{{ intentos }}</td>
          <td>{{ media }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>