*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
#sticky-menu{

}
#menu-element{

}
#banner{
    background-color: #007bff;
    color: white;
    padding: 10px;
}
#logo{

}
#logo1{

}
#logo2{
    
}