* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: sans-serif;
}
h1 {
  font-size: 3rem;
  width: 80%;
  margin-bottom: 20px;
  position: relative;
  top: 10px;
  left: 50px;
}

.sticky-menu {
  background-color: darkslategray;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.menu-element {
  color: white;
  font-weight: 600px;
  text-decoration: none !important;
}
#banner {
  background-color: #007bff;
  color: white;
  padding: 10px;
}
#logo {
}
#logo1 {
}
#logo2 {
}
