@use "sass:map";

// Definir una lista de colores
$colores: red, blue, green, orange;

// Definir un mapa de tamaños de fuente
$tamanos: (
    "item-1": 20px,
    "item-2": 18px,
    "item-3": 16px,
    "item-4": 14px
);

.menu {
    list-style: none;
    padding: 0;

    li {
        padding: 10px;
        font-weight: bold;
    }

    @each $item, $size in $tamanos {
        .#{$item} {
            font-size: $size;
        }
    }

    @for $i from 1 through length($colores) {
        .item-#{$i} {
            color: nth($colores, $i);
        }
    }
}
