@use "sass:list";
@use "sass:map";

// Definir una lista de colores
$colores: (
    red,
    blue,
    green,
    orange
);

// Definir un mapa de tamaños de fuente
$tamanos: (
    "l": 2rem,
    "m": 1.2rem,
    "s": 0.8rem
);

ul {
    font-size: map.get($tamanos, 'l');
    color: list.nth($colores, 1);

    ul {
        font-size: map.get($tamanos, 'm');
        color: list.nth($colores, 2);
        ul{
            font-size: map.get($tamanos, 's');
            color: list.nth($colores, 3);
        }
    }
}