* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font: sans-serif;
}

.container {
    outline: 2px solid beige;
    height: 700px;
    width: 800px;
    margin: 50px auto;
}

.element {
    background-color: darkslateblue;
    color: white;
    font-family: sans-serif;
    font-size: 1rem;

    line-height: 150px;
    text-align: center;
    height: 150px;
    width: 150px;
    margin-top: 25px;

    transition-property: all /*background-color, color, font-size*/;
    /* transition-duration: 3s,2s, 2s; */
    transition-duration: 3s;
    /* transition-delay: 10s; */
    transition-timing-function: 5;
}

.container:hover .element {
    background-color: lightblue;
    color: black;
    font-size: 3rem;
    transform: translateX(600px);

}