* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.nav {
    position: sticky;
    top: 0px;
    z-index: 10;
    width: 100%;
    background-color: #2f4f4f;
    text-align: right;
}

.nav_a {
    display: inline-block;
    padding: 20px;
    text-align: center;
    width: 150px;
}

.nav_a a {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.menu-element:hover {
    text-decoration: underline;
    color: white;
}

.section_1 {
    background-image: url('../img/lotus_f1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    
    padding-top: 10px; /* Separamos el nav del section para que se vea el anclaje bien */
    height: 100vh; /* Esto para que no se desborde */
    width: 100vw;
    scroll-margin-top: 60px; /* Con esto ajustas el anclaje para que se vea correctamente. */
}


.section_2 {
    background-image:  linear-gradient(to right, #cb356b, #bd3f32, 100%),url('../img/ferrari_f1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    padding-top: 10px; /* Separamos el nav del section para que se vea el anclaje bien */
    height: 100vh; /* Esto para que no se desborde */
    width: 100vw;
    scroll-margin-top: 60px; 
}

.section_3 {
    background: linear-gradient(to right, #59c173, #a17fe0, #5d26c1);
    background-size: cover;
    background-attachment: fixed;

    padding-top: 10px; /* Separamos el nav del section para que se vea el anclaje bien */
    height:100vh; /* Esto para que no se desborde */
    width: 100vw;
    scroll-margin-top: 60px; 
}
