//variables
//Fuentes
$main-font: 'Roboto', sans-serif;

//Colores
$main-color: #e8505b;
$secundary-color: #455a64;
$black: #000000;
$gray: #eceeef;
$white: #ffffff;

//Espaciados
$serparation: 5rem;

//Tamaños
$big: 1024px;
$small: 480px;
$medium: 768px;
