@font-face {
    font-family: 'Playfair';
    src: url('../fonts/PlayfairDisplay-Regular.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf');

}

/** Variable */
:root {
    --bs-blue: #037bc0;
    --bs-green: #8cbc00;
    --green-hover: #769c02;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Raleway';
    font-size: 1.6rem;
    line-height: 2;
}

h1,
h2,
h3 {
    font-family: 'Playfair'
}

/* Modificamos el css de bootstrap */
.text-primay {
    color: var(--bs-blue) !important;
}

.bg-primary {
    background-color: var(--bs-blue) !important;
}

.btn-success {
    background-color: var(--bs-green) !important;
}



/** Tamaño textos */
h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

/* Hero */
.hero {
    background-image: url('../img/principal.jpg');
    background-position: center center;
    background-size: cover;
    height: 25rem;

}

/* Transiciones */
.zoom {
    transform: scale(1);
    transition-property: transform;
    transition-duration: 0.3s;
}
.zoom:hover {
    transform: scale(1.2);
}

.btn-hover {
    transition-property: background-color;
    transition-duration: 0.3s;
}
.btn-hover:hover {
    background-color: var(--green-hover)!important;
}



/** Estilos para el contenedor principal */
@media screen and (max-width: 768px) {

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3rem;
    }

    /* Hero */
    .hero {
        height: 55rem;
    }

}