*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

.container{
    border: 2px dashed black;
    width: 750px;
    height: 675px;
    margin: 50px;

    display: flex;
    justify-content: space-between; /** Eje principal*/
    align-items: center;            /** Eje cruzado*/
}

.box{
    border: 2px solid black;
    color: white;
    width: 150px;
    height: 150px;
    padding: 10px;
    line-height: 130px;
    text-align: center;

}

.div1{
    background-color: blueviolet;

}
.div2{
    background-color: chartreuse;

}
.div3{
    background-color: chocolate;

}
.div4{
    background-color: crimson;

}