@import 'tailwindcss';

/* ...existing code... */
@theme colors {
    --color-primary: #0081AF;
    --color-secondary: #00ABE7;
    --color-tertiary: #2DC7FF;
    --color-quaternary: #EAD2AC;
    --color-quinary: #EABA6B;
    
    --font-primary: 'Roboto';
}