.cuadradito {
    background-color: #f00;
    height: 50px;
    width: 50px;
    margin: 3px;
    z-index: -1;

}

#divmensaje {
    background-color: yellow;
    position: absolute;
    visibility: hidden;
    padding: 5px;
    width: 250px;
    z-index: 100;
}

/* Imagen ocupa todo el espacio sin deformarse */
.img-organos {
    width: 90%;
    height: 90vh;
    object-fit: cover;
    position: relative;
}

/* Contenedores de información laterales */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 10px;
}

.sidebar article {
    width: 90%;
    padding: 10px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Divs sobre la imagen */
.overlay-box {
    border-radius: 10px;
    position: absolute;
    opacity: 0.8;
}

/* Colores diferentes */
.color-1 {
    background: rgba(255, 0, 0, 0.5);
}

.color-2 {
    background: rgba(0, 255, 0, 0.5);
}

.color-3 {
    background: rgba(0, 0, 255, 0.5);
}

.color-4 {
    background: rgba(255, 255, 0, 0.5);
}

.color-5 {
    background: rgba(255, 0, 255, 0.5);
}

.color-6 {
    background: rgba(0, 255, 255, 0.5);
}

.color-7 {
    background: rgba(200, 100, 50, 0.5);
}

.color-8 {
    background: rgba(100, 50, 200, 0.5);
}

.color-9 {
    background: rgba(50, 200, 100, 0.5);
}

.color-10 {
    background: rgba(255, 165, 0, 0.5);
}

/* Posiciones de los divs */
.overlay-box:nth-child(1) {
    top: 10%;
    left: 20%;
    width: 89px;
    height: 152px;
}

.overlay-box:nth-child(2) {
    top: 20%;
    left: 50%;
    width: 89px;
    height: 152px;
}

.overlay-box:nth-child(3) {
    top: 30%;
    left: 70%;
    width: 89px;
    height: 152px;
}

.overlay-box:nth-child(4) {
    top: 40%;
    left: 30%;
    width: 89px;
    height: 152px;
}

.overlay-box:nth-child(5) {
    top: 50%;
    left: 60%;
    width: 89px;
    height: 152px;
}

.overlay-box:nth-child(6) {
    top: 60%;
    left: 10%;
    width: 89px;
    height: 152px;
}

.overlay-box:nth-child(7) {
    top: 70%;
    left: 80%;
    width: 89px;
    height: 152px;
}

.overlay-box:nth-child(8) {
    top: 80%;
    left: 40%;
    width: 89px;
    height: 152px;
}

.overlay-box:nth-child(9) {
    top: 90%;
    left: 50%;
    width: 89px;
    height: 152px;
}

.overlay-box:nth-child(10) {
    top: 93%;
    left: 66%;
    width: 89px;
    height: 152px;
}