@use "../base/vars" as v;
@use "../base/mixins" as m;

.chef {
    background-image: url('../../assets/img/chef_bg.jpg');
    background-size: cover;
    background-position: center center;


    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: v.$serparation 0;
        color: v.$white;
    }
    &__text{
        text-align: center;
        width: 75rem;
    }

    &__link{
        color: v.$main-color;
        @include m.btnClaro(v.$main-color, v.$white);
    }

    // @include m.desktop {
    //     flex-direction: row;
    //     justify-content: space-between;
    // }
}