@use 'vars' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    @include m.box-sizing(border-box);
}

*,
*::before,
*::after {
    @include m.box-sizing(inherit);
}

body {
    font-family: v.$main-font;
    font-size: 1.6rem;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    background-color: v.$white;
    color: v.$black;
}
//textos
p {
    color: v.$black;
    font-size: 1.6rem;
}

h1,
h2,
h3{
    line-height: 1.2;
    margin: 0 0 v.$serparation 0;
}
h1 {
    font-size: 4.4rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 2.4rem;
}
a{
    text-decoration: none;
}
//imgenes
img {
    max-width: 100%;
    display: block;
}

//contenedores
.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}