//variables
//Fuentes
$main-font: 'Roboto', sans-serif;

//Colores
$main-color: #f46669;
$secundary-color: #c7c57d;
$black: #000000;
$gray: #f5f5f5;
$white: #ffffff;

//Espaciados
$serparation: 5rem;

//Tamaños
$big: 1024px;
$small: 480px;
$medium: 768px;
